<nav>
    <div class="nav-wrapper bgc1">
        <a href="#!" class="brand-logo"><i class="material-icons right">no_crash</i>Починим!</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html"><i class="material-icons">mode_comment</i></a></li>
            <li><a href="badges.html"><i class="material-icons">event_note</i></a></li>
            <li><a href="profile"><i class="material-icons">person_outline</i></a></li>
        </ul>
    </div>
</nav>