<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h2 class="header ">Сломался автомобиль?</h2>
        <h1 class="header ">Починим!</h1>
        <div class="row center">
          <h5 class="header col s12 light">Оставляйте заявку и мы поможем вам в течение часа.</h5>
        </div>
        <div class="row center">
          <a href="/" id="request-button" class="btn-large waves-effect waves-light gray lighten-1">Оставить заявку</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax va"><img src="img/2.jpg" alt="Unsplashed background img 2" style="transform: translate3d(-50%, 245.184px, 0px); opacity: 0.6;"></div>
</div>
